<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>didikala | Login Page</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/vendor/materialdesignicons.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/css/vendor/bootstrap-slider.min.css">
    <link rel="stylesheet" href="~/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" href="~/css/vendor/fancybox.min.css">
    <link rel="stylesheet" href="~/css/vendor/nice-select.css">
    <link rel="stylesheet" href="~/css/vendor/nouislider.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/colors/default.css" id="colorswitch">
</head>

<body>
    <div class="wrapper">
   
    @RenderBody()   
    </div>
     
    <!-- Core JS Files -->
    <script src="~/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="~/js/vendor/popper.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="~/js/vendor/bootstrap-slider.min.js"></script>
    <script src="~/js/vendor/owl.carousel.min.js"></script>
    <script src="~/js/vendor/owl.carousel2.thumbs.min.js"></script>
    <script src="~/js/vendor/jquery.nicescroll.min.js"></script>
    <script src="~/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/js/vendor/nouislider.min.js"></script>
    <script src="~/js/vendor/jquery.horizontalmenu.js"></script>
    <script src="~/js/vendor/jquery.fancybox.min.js"></script>
    <script src="~/js/vendor/countdown.min.js"></script>
    <script src="~/js/vendor/wNumb.js"></script>
    <script src="~/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>  
    <!-- Main JS File -->
    <script src="~/js/vendor/site.js"></script>
    <script src="~/js/vendor/main.js"></script>

</body>

</html>
