@model ESchool.Application.Application.Contracts.Account.RegisterAccount
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mx-auto">
        <div class="logo-area text-center mb-3">
            <a href="#"><img src="~/img/logo.png" class="img-fluid" alt="logo"></a>
        </div>
        <div class="auth-wrapper form-ui border pt-4">
            <div class="section-title title-wide mb-1 no-after-title-wide">
                <h2 class="font-weight-bold">ثبت نام</h2>
            </div>
           
            <form action="./register" 
              method="post"           
              data-ajax="true"
              data-callback=""
              data-action="Refresh"
              enctype="multipart/form-data">
                <div class="form-row-title">
                    <h3>نام و نام خانوادگی</h3>
                </div>
                <div class="form-row with-icon">
                    <input type="text" asp-for="Fullname" class="input-ui pr-2" placeholder="نام و نام خانوادگی">
                    <i class="mdi mdi-account-circle-outline"></i>
                </div>
                 <div class="form-row-title">
                    <h3>نام کاربری</h3>
                </div>
                <div class="form-row with-icon">
                    <input type="text" asp-for="Username" class="input-ui pr-2" placeholder="نام کاربری">
                    <i class="mdi mdi-account-circle-outline"></i>
                </div>
                 <div class="form-row-title">
                    <h3>موبایل</h3>
                </div>
                <div class="form-row with-icon">
                    <input type="text" asp-for="Mobile" class="input-ui pr-2" placeholder="نام کاربری">
                    <i class="mdi mdi-account-circle-outline"></i>
                </div>
                 <div class="form-row-title">
                    <h3>نقش کاربری</h3>
                </div>
                <div class="form-row dropdown-item-icon">
                <select class="form-control" asp-for="RoleId" 
                            asp-items='new SelectList(Model.Roles, "Id", "Name")'>
                        <option value="0">نقش</option>
                    </select>
                </div>
                <div class="form-row-title">
                    <h3>رمز عبور</h3>
                </div>
                <div class="form-row with-icon">
                    <input type="password" asp-for="Password" class="input-ui pr-2" placeholder="رمز عبور خود را وارد نمایید">
                    <i class="mdi mdi-lock-open-variant-outline"></i>
                </div>
                <div class="form-row mt-2">
                    <div class="custom-control custom-checkbox float-right mt-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label text-justify" for="customCheck3">
                            <a href="#">حریم خصوصی</a> و <a href="#">شرایط و قوانین</a> استفاده از سرویس
                            های سایت دیدیکالا را مطالعه نموده و با کلیه موارد آن موافقم.
                        </label>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <button type="submit" class="btn-primary-cm btn-with-icon mx-auto w-100">
                        <i class="mdi mdi-account-circle-outline"></i>
                        ثبت نام
                    </button>
                </div>
            </form>
           
        </div>
    </div>
</div>


