
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container">
    <div class="row">
        <div class="col-12">
            <div class="dt-sl pt-3 pb-5">
                <div class="error-page text-center">
                    <h1>شما به این صفحه دسترسی ندارید.!</h1>
                    <a href="/home/index" class="btn-primary-cm">صفحه ورود</a>
                    <img src="~/assets/img/theme/404.png" class="img-fluid" width="60%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

