@model ESchool.Application.Application.Contracts.Role.CreateRole
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xl-10 col-lg-10 col-md-12 col-12 mx-auto">
        <div class="logo-area text-center mb-3">
            <a href="#"><img src="~/img/logo.png" class="img-fluid" alt="logo"></a>
        </div>
        <div class="auth-wrapper form-ui border pt-4">
            <div class="section-title title-wide mb-1 no-after-title-wide">
                <h2 class="font-weight-bold">نقش جدید</h2>
            </div>
           
            <form action="./create" 
              method="post"           
              data-ajax="true"
              data-callback=""
              data-action="Refresh"
              enctype="multipart/form-data">
                <div class="form-row-title">
                    <h3>نقش جدید</h3>
                </div>
                <div class="form-row with-icon">
                    <input type="text" asp-for="Name" class="input-ui pr-2" placeholder="نقش">
                    <i class="mdi mdi-account-circle-outline"></i>
                </div>
               
                <div class="form-row mt-3">
                    <button type="submit" class="btn-primary-cm btn-with-icon mx-auto w-100">
                        <i class="mdi mdi-account-circle-outline"></i>
                        جدید
                    </button>
                </div>
            </form>
           
        </div>
    </div>
</div>
